# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
venv/
env/
djangoBackend/
dashboard/
# Django-specific
*.pyc
*.pyo
.env
*.db
db.sqlite3

# Migrations (Optional: Exclude them if you don't want to push migrations)
*/migrations/

# Static and media files
/staticfiles/
/media/

# IDE or editor-specific files
.vscode/
.idea/

# Logs and debug files
*.log
